.chtr {
    display: flex;
    flex-direction: column;
    border: 1px solid #333;
    position: relative;
    overflow: auto;
}

.chtr-node {
    display: flex;
    flex-direction: column;
}

.chtr-node-header {
    display: flex;
    flex-direction: row;
}

.chtr-node-expander {
    margin-right: 0.3rem;
    width: 1rem;
}

.chtr-node-selector {
    margin-right: 0.3rem;
}

.chtr-node-title {
    
}
